
#app2 > div {
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}


figure {
  padding: 10px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

figcaption {
  text-align: center;
  color: black;
}

img {
  width: 100%;
}

.food-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}