body {
  margin: 0;
  background-color: lightblue;
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
}

h2, h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

img {
  text-align: center;
}

div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul, ol {
  padding: 0;
  margin: 0 auto;
  text-align: center; 
  list-style-position: inside;
}

section {
border: 1px solid #6a6a6a;
border-radius: 8px;
margin: 40px auto;
padding-top: 20px;
padding-bottom: 50px;
background-color: #f5eaea;
width: 70%;
}

ol.a li{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

ul.a li{
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
ul.b li{
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.picturegall {
  padding-top: 50px;
}

.tbl1 {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  flex-wrap: wrap;
  margin: 0 auto; 
  margin-top: 30px;
}

.tbl1 img {
  width: 350px; 
  height: 250px; 
  object-fit: cover; 
  text-align: center; 
}

.tbl1 p {
  text-align: center; 
}
